
<div id="containerC">

            <div id="topDivC">
                <h1 class="divText">Product</h1> 
                <div id="navigationBar"> 
                <div id="cart">
                    <%= link_to "My Cart", final_cart_path %>
                </div>
                    <%= csrf_meta_tags %>
                <div id="logout">
                    <%= link_to "Log Out", logout_path, method: "delete" %>
                </div>
                <div id="productcat">
                    <%= link_to "Product Categories", session[:product_category_link] %>
                </div>
                <div id="productline">
                    <%= link_to "Product Line", session[:product_line_link] %>
                </div>
                </div>
                <p id="itemincart"><%= flash[:notice_1] %></p>
                <p id="companyalert"><%= flash[:notice_2] %></p>
            </div>

            <div id="bottomDivC">
                <%= form_tag("/cart", method: "get") do %>
                    <div id="products">
                    
                        
                        <% @id.each do |a| %>

                            <div id="product">
                                <div id="productSubContainer">
                                    <p><b>Product : <%= "#{@Name[a]}" %></b></p>
                                    <p><b>Company : <%= "#{@Company_Name[a]}" %></b></p>
                                    <p>
                                        Serving_Size : <%= "#{@Serving_Size[a]}"%>     Calories : <%= "#{@Calories[a]}"%>     Sat_Fat : <%= "#{@Sat_Fat[a]}" %> Sodium : <%= "#{@Sodium[a]}" %>     Carbs : <%= "#{@Carbs[a]}" %>     Sugar : <%= "#{@Sugar[a]}" %>
                                    </p>
                                    <p>
                                        Fiber : <%= "#{@Fiber[a]}" %>     Protein : <%= "#{@Protein[a]}" %>     Whole_Grain : <%= "#{@Whole_Grain[a]}" %> Gluten_Free : <%= "#{@Gluten_Free[a]}" %>     Organic : <%= "#{@Organic[a]}" %>     Phosphorus : <%= "#{@Phosphorus[a]}" %> 
                                    </p>
                                    <p>
                                        Soy : <%= "#{@Soy[a]}" %>     Potassium : <%= "#{@Potassium[a]}" %>     Milk : <%= "#{@Milk[a]}" %> Egg : <%= "#{@Egg[a]}" %>     Nut : <%= "#{@Nut[a]}" %>     FODMAP : <%= "#{@FODMAP[a]}" %>
                                    </p>
                                </div>
                                <div id="radioBtnContainer">
                                    <div id="radioBtn">
                                    <%= radio_button_tag(:compny, @product_id[a].to_s) %>
                                    <%= label_tag(:compny, "") %>
                                    </div>
                                </div>
                                 
                            </div> 
                            
                            
                        <% end %>
                        
                        <div="select"><%= submit_tag("Select") %><div>
                        <div id="spaceBelow"></div>
                    </div>
                <% end %>
                
            </div>
            

</div>