


<div id="containerHC">

    <div id="topDiv">
      <h1 class="divText">Choose any preferred dietary considerations</h1>
      <%= link_to "My Cart", final_cart_path %></p>
    </div>

    <div id="middleDiv">
  
              <%= form_for :concerns do |f| %>

                  <div id="centerOfPageContainerHC">

                    <div id="outerDiv">
                      
                        <div id="picOuterDiv">
                          <%= f.label :sodium_friendly, "...:", class: "label" do %>
                          <div id="picDiv"> <img src=<%=image_url('concerns/salt.png')%> alt="..." id="image">  </div>                         
                          
                        </div>

                        <div id="labelDiv">
                          <%= f.check_box :sodium_friendly, class: "checkbox", id: "ck"%>
                          <h5>Salt Shy</h5>
                        </div>
                        <% end %>
                    </div>
                


                    <div id="outerDiv">
                      
                        <div id="picOuterDiv">
                          <%= f.label :heart_healthy, "...:", class: "label" do %> <!--class: "col-xs-12 control-label btn btn-concerns img-check"-->
                          <div id="picDiv"><img src=<%=image_url('concerns/heart.png')%> alt="..." class="img-responsive"></div>
                        </div>

                        <div id="labelDiv">
                          <%= f.check_box :heart_healthy, class: "checkbox", id: "ck" %>  <!-- class: "form-control"-->
                          <h5>Heart Healthy</h5>
                        </div>
                        <% end %>
                    </div>
                



                    <div id="outerDiv">
                        <div id="picOuterDiv">
                          <%= f.label :calorie_friendly, "...:", class: "label" do %>
                          <div id="picDiv"><img src=<%=image_url('concerns/fork.png')%> alt="..." class="img-responsive"></div>
                        </div>

                        <div id="labelDiv">
                          <%= f.check_box :calorie_friendly, class: "checkbox", id: "ck" %>
                          <h5>Wieght Loss</h5>
                        </div>
                        <% end %>
                    </div>
                


                    <div id="outerDiv">
                      
                        <div id="picOuterDiv">
                          <%= f.label :carb_friendly, "...:", class: "label" do %>
                          <div id="picDiv"><img src=<%=image_url('concerns/F.png')%> alt="..." class="img-responsive"></div>
                        </div>

                        <div id="labelDiv">
                          <%= f.check_box :carb_friendly, class: "checkbox", id: "ck" %>
                          <h5>FOD Map</h5>
                        </div>
                        <% end %>
                    </div>
                

                    <div id="outerDiv">
                      
                        <div id="picOuterDiv">
                          <%= f.label :kidney_friendly, "...:", class: "label" do %>
                          <div id="picDiv"><img src=<%=image_url('concerns/Down.png')%> alt="..." class="img-responsive"></div>
                        </div>
                        <div id="labelDiv">
                          <%= f.check_box :kidney_friendly, class: "checkbox", id: "ck" %>
                          <h5>Kidney Friendly</h5>
                        </div>
                      <% end %>
                    </div>

                    <div id="startShopping">
                      <%= f.submit 'Start Shopping', :class => 'btn btn-primary center col-xs-2 col-xs-offset-5 margin-tb-t', :id => 'submitButton' %>
                
                    </div>

                  </div>
              <% end %>


    </div>


    <div id="bottomDiv"></div>
</div>


<script type="text/javascript">
  $(document).ready(function(e){
    $(".img-check").click(function(){
      $(this).toggleClass("checked");
    });
  });
</script>

bootply::::::
<div class="col-md-4 col-md-offset-4">
  <form role="form">
    <div class="form-group">
      <label for="name">Name</label>
      <input class="form-control" type="text">
    </div>
  
  <div class="form-horizontal">
    <div class="form-group">
      <label class="col-xs-9 control-label">Choice that you prefer</label>
      <div class="col-xs-3">
        <select class="form-control select">
          <option>A</option>
          <option>B</option>
        </select>
      </div>
    </div>
    <div class="form-group col-xs-6">
      <label class="control-label">Another choice</label>
      <div>
        <select class="form-control select">
          <option>very long choice C</option>
          <option>very long choice D</option>
        </select>
      </div>
    </div>
  </div>

    <div class="form-group col-xs-6">
      <label for="name">Address</label>
      <input class="form-control" type="text">
    </div>
  </form>
</div>