

<div id="containerHC">

    <div id="topDivHC">
      <h1 class="divText" class="jumbotron">Select Your Primary Medical Concern</h1>
      <div id="navigationBar"> 
      <div id="cart">
          <%= link_to "My Cart", final_cart_path %>
      </div>
          <%= csrf_meta_tags %>
      <div id="logout">
          <%= link_to "Log Out", logout_path, method: "delete" %>
      </div>
    </div>
    </div>

    <div id="middleDivHC">
              <p id="selconcerns"><%= flash.now[:notice_3] %></p>
              <%= form_for :concerns do |f| %>

                  <div id="centerOfPageContainerHC">

                    <div id="outerDiv">
                      
                        <div id="picOuterDiv">
                          <%= f.label :sodium_friendly, "...:", class: "label" do %>
                          <div id="picDiv"> <img src=<%=image_url('concerns/salt.png')%> alt="..." id="image">  </div>                         
                          
                        </div>

                        <div id="labelDiv">
                          <%= f.check_box :sodium_friendly, class: "checkbox", id: "ck"%>
                          <h5>Sodium Friendly</h5>
                        </div>
                        <% end %>
                    </div>
                


                    <div id="outerDiv">
                      
                        <div id="picOuterDiv">
                          <%= f.label :heart_healthy, "...:", class: "label" do %> <!--class: "col-xs-12 control-label btn btn-concerns img-check"-->
                          <div id="picDiv"><img src=<%=image_url('concerns/heart.png')%> alt="..." class="img-responsive"></div>
                        </div>

                        <div id="labelDiv">
                          <%= f.check_box :heart_healthy, class: "checkbox", id: "ck" %>  <!-- class: "form-control"-->
                          <h5>Heart Healthy</h5>
                        </div>
                        <% end %>
                    </div>
                



                    <div id="outerDiv">
                        <div id="picOuterDiv">
                          <%= f.label :calorie_friendly, "...:", class: "label" do %>
                          <div id="picDiv"><img src=<%=image_url('concerns/fork.png')%> alt="..." class="img-responsive"></div>
                        </div>

                        <div id="labelDiv">
                          <%= f.check_box :calorie_friendly, class: "checkbox", id: "ck" %>
                          <h5>Wieght Loss</h5>
                        </div>
                        <% end %>
                    </div>
                


                    <div id="outerDiv">
                      
                        <div id="picOuterDiv">
                          <%= f.label :carb_friendly, "...:", class: "label" do %>
                          <div id="picDiv"><img src=<%=image_url('concerns/F.png')%> alt="..." class="img-responsive"></div>
                        </div>

                        <div id="labelDiv">
                          <%= f.check_box :carb_friendly, class: "checkbox", id: "ck" %>
                          <h5>FOD Map</h5>
                        </div>
                        <% end %>
                    </div>
                

                    <div id="outerDiv">
                      
                        <div id="picOuterDiv">
                          <%= f.label :kidney_friendly, "...:", class: "label" do %>
                          <div id="picDiv"><img src=<%=image_url('concerns/Down.png')%> alt="..." class="img-responsive"></div>
                        </div>
                        <div id="labelDiv">
                          <%= f.check_box :kidney_friendly, class: "checkbox", id: "ck" %>
                          <h5>Kidney Friendly</h5>
                        </div>
                      <% end %>
                    </div>

                    <div id="startShopping">
                      <%= f.submit 'Start Shopping', :class => 'btn btn-primary center col-xs-2 col-xs-offset-5 margin-tb-t', :id => 'submitButton' %>
                
                    </div>

                  </div>
              <% end %>


    </div>


    <div id="bottomDivHC"></div>
</div>