<div id="topDiv">
    <h1 class="divText">My Cart</h1>
    <%= link_to "My Cart", final_cart_path %></p>
	<%= csrf_meta_tags %>
    <%= link_to "Log Out", logout_path, method: "delete" %>
</div>
<div id="middleDiv">
<%= form_tag("/modify_cart", method: "get") do %>
</div>Shopping Cart</div>
    <% @length.each do |a| %>
    <div>Product : <%= "#{@product[a]}" %></div>
    <div>Company_Name : <%= "#{@company[a]}" %></div>
    <%= radio_button_tag(:compny, @product_id[a]) %>
    <%= label_tag(:compny, "Remove") %>
    <div> ______________________________________________________________________________________________ </div>
    <% end %>
<%= submit_tag("Update cart") %>
</div>
<% end %>