<div id="topDiv">
    <h1 class="divText">Add files to health concern diet map' database</h1>
    <%= link_to "My Cart", final_cart_path %></p>
	<%= csrf_meta_tags %>
    <%= link_to "Log Out", logout_path, method: "delete" %>
</div>
<center>
    <%= form_tag import_health_concerns_path, multipart: true do %>
        <%= file_field_tag :file, :id =>'Choose File' %>
        <%= submit_tag("Import", :class => 'btn') %>
<% end %>  
<br>
</center>