<div id="containerPC">

			<div id="topDiv">
			    <div id="navigationBar"> 
			    		<div id="cart">
			    			<%= link_to "My Cart", final_cart_path %>
			    		</div>
							<%= csrf_meta_tags %>
						<div id="logout">
			    			<%= link_to "Log Out", logout_path, method: "delete" %>
			    		</div>
			    	
			    </div>
			    <h1 class="divText">Product Categories</h1> 

			</div>

			<div id="middleDiv">
				<%= form_tag("/company", method: "get") do %>
				    <% @arr.each do |a| %><br>
				    <%= radio_button_tag(:product_category, a.to_s) %>
				    <%= label_tag(:product_category, a.to_s) %>      
				    <% end %><br>
				<div id="search"><%= submit_tag("Search") %></div>
			</div>
			<% end %>

</div>